.app-header {
  background-color: $clr1;

  .filter-container {
    color: $clr11;
    border-radius: 2rem;
    outline: 1px solid $clr5;
    width: max-content;
    padding: em(7px);
    
  }

  .logo-container{
    width: em(400px);
  }

  .search-image {
    fill: $clr1;
    display: flex;
    background-color: $clr2;
    border-radius: 50%;
    min-width: 2rem;
    height: 2rem;
    padding: 10px;
    margin: 7px;

    img {
      color: $clr1;
    }
  }

  .hamburger {
    width: 1rem;
  }

  .user {
    width: 30px;
  }

}