.filter-carousel-container {
    position: sticky;
    width: max-content;
    max-width: 100vw;
    transform: translate(-23px);
    // overflow: hidden;
    align-items: baseline;
    padding: em(24px) 0;
    margin-top: 80px;
    gap: 120px;

    .filter-btn {
        width: 91px;
        min-height: 48px;
        padding: 0 em(7px);
        // margin-inline-start: 50px;
        // margin-bottom: 50px;

        .content-container {
            span {

                padding-inline-start: em(8px);
            }
        }

    }

    .css-69z67c-MuiTabs-scroller {
        max-width: 80vw;


        // .css-1ujnqem-MuiTabs-root {

        // }

        .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
            width: 64px;
            min-height: 64px;
            padding: 0 1rem;

        }
    }

    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {

        color: $clr11;
        opacity: 1;
    }

    .css-1aquho2-MuiTabs-indicator {
        display: none;
    }

    .MuiTabs-scrollButtons {
        position: absolute;
        margin-bottom: 50px;
        background-color: $clr1;
        box-shadow: 1px 0px 8px 19px $clr1;
        width: 26px;

    }

    // .MuiTabs-scrollButtons {
    //     height: 100%;
    //     background-color: aqua;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }

    .css-ptiqhd-MuiSvgIcon-root {
        border: 1px solid $clr5;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        transition: 0.5s;

        &:hover {
            box-shadow: 1px 1px 3px 1px $clr5;
        }

    }

    .type-container {
        display: grid;
        align-items: center;
        // justify-content: space-between;
        min-width: 64px;
        // min-height: 64px;
        opacity: 0.7;
        transition: opacity 0.5s;
        border-bottom: 2px solid $clr1;


        &:hover {
            opacity: 1;
            border-bottom: 2px solid $clr5;

        }

        &:target {
            border-bottom: 2px solid $clr11;
            opacity: 1;
        }





        img {
            width: 24px;
            justify-self: center;
        }

        p {
            width: max-content;
            margin-top: 5px;
            display: inline-block;
            justify-self: center;
            // padding-inline-start: em(5px);
            // text-align: center;
            font-family: 'Circular';
            font-size: rem(12px);
            text-transform: none;
            padding: em(16px) 0;

        }
    }

}