.filter-container {
    .location-filter {
        .img-container {
            width: 120px;
            aspect-ratio: 1/1;
            background-image: url('../../img/italy.jpg');
            background-size: cover;
        }
    }




}