.galery {
    grid-column: 2;

    display: flex;
    padding-top: 24px;
    
    // padding-top: 24px;
    // display: grid;
    // grid-template-columns: 50% 50%;
    // grid-template-rows: 100%;


    // grid-template-areas:

    //     " left right ";

}

.leftGalery{
    cursor: pointer;
    width: 28vw;
}
.midelGalery{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    

    // width: 280px;
    padding-left: 0.4vw;

    .topLeft{
        height: 165px;
        width: 15vw;
        object-fit: cover;
    }
    .bottomLeft{
        padding-top: 8px;
        height: 165px;
        width: 15vw;
        padding-top:  0.4vw;

    }
}

.rightGalery{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-left: 0.4vw;

    .topRight{
        height: 165px;
        width: 15vw;
    }
    .bottomRight{
        height: 165px;
        width: 15vw;
        padding-top:  0.4vw;

    }

}

// .galeryLeft {
//     cursor: pointer;
//     position: relative;
//     grid-area: left;
//     border-top-left-radius: 10px;
//     border-bottom-left-radius: 10px;
//     height: 300px;
//     width: 560px;
// }

// .galeryRight {
//     grid-area: right;
//     height: 300px;
//     object-fit: cover;
//     display: grid;
//     grid-template-columns: 272px 272px;
//     grid-template-rows: 150px 150px;

//     grid-template-areas:

//         " topLeft topRight "
//         " bottomLeft bottomRight";
// }

// .topLeft {
//     cursor: pointer;
//     grid-area: topLeft;
//     // height: 150px;
//     // width: 272px;
//     position: relative;
//     left: 3px;
// }

// .topRight {
//     cursor: pointer;
//     grid-area: topRight;
//     margin-bottom: 40px;
//     // height: 150px;
//     // width: 272px;
//     position: relative;
//     border-top-right-radius: 10px;
// }

// .bottomLeft {
//     cursor: pointer;

//     grid-area: bottomLeft;
//     margin-left: 4px;
//     margin-top: 4px;
//     // height: 150px;
//     // width: 272px;
// }

// .bottomRight {
//     cursor: pointer;
//     grid-area: bottomRight;
//     margin-top: 4px;

//     // height: 150px;
//     // width: 272px;
//     border-bottom-right-radius: 10px;

// }