.detailes {
    grid-area: main;
    width: 100.3%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;


    grid-template-areas:

        " detailsLeft detailsRight ";
}

.shortInfo {
    padding-top: 48px;
    padding-bottom: 24px;
    width: 120%;
    position: relative;
    top: 40px;
    right: 8px;
    color: rgb(34, 34, 34);
    font-weight: 10;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.hostImg{
    height: 56px;
    width: 56px;
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scendMenu{
    display: flex;
    justify-content: flex-start;
    display: flex;
}

.scendMenuFiturs{
    margin-left: 20px;
}
.hostedBy{
    font-size: 22px;
}

.detailesInfo {
    width: 100%;
    height: 44px;
    margin-bottom: 24px;
}

.detailesInfo3 {
    width: 100%;
    height: 44px;
    margin-bottom: 24px;
}

.detailesInfo4 {
    width: 100%;
    box-sizing: border-box;
}

.img {
    height: 100%;
    width: 5%;
}

.extraContant {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.detaileConteiner {
    width: 120%;
    position: relative;
    right: 8px;
    top: 40px;
    padding: 32px 0px;
    border-bottom: 1px solid lightgray;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.contantConteiner{
    background-color: beige;
    height: auto;
    // padding: 32px 0px;
}

.airCover{
    height: auto;
    width: 120%;
    position: relative;
    top:40px;
    right: 8px;
    padding: 32px 0px;
    border-bottom: 1px solid lightgray;
    font-family:  -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;;
}



.aboutThisSpace{
    padding-bottom: 48px;
    padding-top: 32px;
    width: 120%;
    position: relative;
    top:43px;
    right: 8px;
    border-bottom: 1px solid lightgray;
}

.coverDescription{
    position: relative;
    font-size: 16px;
    margin-bottom: 16px;
}

.LearnMore{
    position: relative;
    width: 100px;
    top: 2px;
    font-size: 18px;
    text-decoration: underline;
}

.coverImg{
    position: relative;
    height: 26px;
    width: 120px;
    left: 2px;
}

.coverImgDiv{
    line-height: 20px;
    font-weight: 400;
    height: 47px;
}

.ShowMore{
    margin-top: 16px;
    text-decoration: underline;
}

.sleepHere{
    padding: 48px 0px;
    border-bottom: 1px solid lightgray;
    width: 120%;
    position: relative;
    right: 8px;
    top:43px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sleepHereTilte{
    margin-bottom: 16px;
    font-size: 22px;
    
}

.sleepHereContant{
    display: flex;
    flex-direction: row;
}

.sleepHereBigBox{
    width: 100%;
}
.sleepHereBox{
    height: 143px;
    width: 210px;
    padding: 24px;
    margin-right: 25px;
    margin-top: 7px;
    border: 1px solid lightgray;
    border-radius: 12px;
}

.bedPic{
    margin-bottom: 16px;
    width: 23px;
    height: 23px;
}

.stayNum{
    margin-bottom: 8px;
    font-weight: 600;
}

.bedKind{
    font-size: 14px;
}

.placeOffers{
    position: relative;
    right: 8px;
    top:43px;
    padding: 48px 0px;
    border-bottom: 1px solid lightgray;
    width: 120%;
}

.offersTitle{
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 24px;
}

.offers{
    max-width: 83.33333%;
    padding-bottom: 16px;
}

.showAll{
    margin-top: 24px;
    border: 1px solid;
    padding: 13px 23px;
    border-radius: 8px;
}

.placeOffersContant{
    display: flex;
    flex-wrap: wrap;
}

.offer{
    width: 300px;
    // margin: 0px 8px;
    padding-bottom: 16px;
    display: flex;
}

.offerImg{
    height: 20px;
    width: 20px;
}

.oferTxt{
    margin-left: 20px;
}
