// body{
//     background-color: aqua;
// }
// .home-page{
//     background-color: rgb(60, 0, 255);
//     border: 30px solid red;
//     .map-container {
//         background-color: aquamarine;
        svg {
            display: block;
            height: 16px;
            width: 16px;
            fill: rgb(1, 17, 193);
        }
//     }
// }