// body{
//     background-color: aqua;
// }
.home-page{
    .map-container {
        svg {
            display: block;
            height: 16px;
            width: 16px;
            fill: rgb(0, 0, 0);
        }
    }
}