.stayMenegment {
    display: grid;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    ;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-areas:
        ". main . ";

    .menegmentContant {
        grid-column: 2;
        height: 350px;
        width: 100%px;


        .contantTitle {
            height: 65px;
            font-size: 20px;
            font-weight: 600;
        }

        .tableHead {
            display: flex;
            background-color: rgb(231, 231, 231);
            height: 50px;
            font-size: 18px;
            font-weight: 600;
        }

        .head {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .stayTable {
            display: flex;
            flex-direction: column;
            height: 235px;
            overflow-y: auto;
            ;


            .stayRow {
                display: flex;

                .stayRow {
                    padding: 10px 5px;
                    border-bottom: 1px solid lightgray;
                }

                .cell {
                    display: flex;
                    // justify-content: flex-start;
                }

                .stay {
                    width: 130px;
                }

                

                .price {
                    width: 130px;
                }

                .rate {
                    width: 60px;
                }

                .orders {
                    width: 130px;
                }

                .actions {
                    width: 130px;
                }
            }
        }

        .menegmentTable {
            display: flex;
            flex-direction: column-reverse;

            height: 235px;
            overflow-y: auto;

            .tableRow {
                padding: 10px 5px;
                border-bottom: 1px solid lightgray;
            }
        }

        .cell {
            display: flex;
        }

        .pendingStatus {
            background-color: rgb(236, 236, 236);
        }


        .guest {
            width: 130px;
        }

        .stay {
            width: 130px;
        }

        .dates {
            width: 130px;
        }

        .price {
            width: 60px;
        }

        .status {
            width: 130px;
        }

        .actions {
            width: 130px;
        }

        .approve {
            color: rgb(50, 211, 50);
        }

        .reject {
            color: rgb(235, 64, 64);
        }

        

        .approveBtn {
            display: flex;
            align-items: center;
            border: 1px solid rgb(50, 211, 50);
            border-radius: 10px;
        }

        .approveBtn:active {
            background-color: rgb(50, 211, 50);
            ;
        }

        .rejectBtn {
            display: flex;
            align-items: center;
            border: 1px solid rgb(235, 64, 64);
            border-radius: 10px;
        }

        .rejectBtn:active {
            background-color: rgb(235, 64, 64);
        }

        .gustImg {
            height: 28px;
            width: 28px;
        }



    }
}