.trip-containter {
    background-color: aqua;
    width: 100vw;
    height: auto;

    display: grid;
    grid-template-columns: 80px 1fr 80px;

    font-family: 'Circular';
    font-size: 28px;
    height: 96px;
    line-height: 1.43;
    color: #222;
}

.trip-containter>* {
    grid-column: 2;
    background-color: blanchedalmond;
    grid-row-gap: 70px;

    // .trip-header{
    //     padding-bottom: 70px;

    // }

    .trip-thead {
        font-size: 14px;
    }
    .trip-table{
        width: 100%;
        height: auto;
    }
    .trip-td-body{
        text-align: center;
    }

    // .trip-td-body{

    // }
}