.trip-containter {
    width: 100vw;
    height: auto;

    display: grid;
    grid-template-columns: 20vw 1fr 20vw;

    font-family: 'Circular';
    font-size: 28px;
    height: 96px;
    line-height: 1.43;
    color: #222;

    position: absolute;
    top: 120px;
}

.trip-containter>* {
    grid-column: 2;
    grid-row-gap: 70px;


    .trip-thead {
        font-size: 14px;
        text-align: left;
    }

    .trip-td {
        padding-bottom: 25px;
        text-align: left;


    }

    .trip-image {
        width: 150px;
        border-radius: 12px;

    }

    .trip-table {
        width: 100%;
        height: auto;
        border-collapse: collapse;

    }

    .trip-td-body {

        padding: 20px 5px;
        text-align: left;
        font-size: 14px;

        .image {
            // display: flex;
            // justify-content: center;
        }


    }

}

// .trip-tr-body.price:only-child{
//     background-color: blue;
// }

.trip-header {
    padding-bottom: 60px;
}

.reject {
    color: red;
}

.approve {
    color: green;
}

.pending {
    color: orange;
}

.trip-tr {
    border-bottom: 1px solid;
}

.trip-tr-body {
    height: auto;
    border-bottom: 1px solid;
}