.trip-containter {
    width: 100vw;
    height: auto;

    display: grid;
    grid-template-columns: 80px 1fr 80px;

    font-family: 'Circular';
    font-size: 28px;
    height: 96px;
    line-height: 1.43;
    color: #222;

    position: absolute;
    top: 80px;
}

.trip-containter>* {
    grid-column: 2;
    grid-row-gap: 70px;


    .trip-thead {
        font-size: 14px;
        text-align: left;
    }

    .trip-td {
        padding-bottom: 25px;
    }

    .trip-table {
        width: 100%;
        height: auto;
    }

    .trip-td-body {
        text-align: left;
        font-size: 14px;
        padding-bottom: 20px;
    }

}

.trip-header {
    padding-bottom: 60px;
}
.decline{
    color: red;
}
.approve{
    color: green;
}
.pending{
    color:orange;
}
.trip-tr-body{
    height: auto;
}