// Colors
$clr1: #ffffff;
$clr2: #ff385c;
$clr3: #f7f7f7;
$clr4: #ebebeb;
$clr5: #dddddd;
$clr6: #a8abb2;
$clr7: #929292;
$clr8: #7c7c7c;
$clr9: #717171;
$clr10: #000000;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;