@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

.booking {
    grid-area: detailsRight;
    font-family: 'Circular';
    



    .bookingBox {
        position: sticky;
        margin-left: 205px;
        margin-top: 37px;
        top: 127px;
        height: 460px;
        width: 368px;
        box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
        padding: 24px;
        border: 1px solid lightgray;
        border-radius: 10px;

    }

    .boxContantTop {
        height: 112px;
        width: 322px;
        border-radius: 5px;
        position: relative;
        top: 20px;
        right: 1px;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        display: grid;

        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;

        grid-template-areas:

            " topBtn "
            " bottomBtn";
    }

    .topBookingBox {
        display: flex;
        justify-content: space-between;
        align-items:centers;
    }

    .reviewsBtn {
        text-decoration: underline;
        color: rgb(159 159 159);
        font-family: apple-system;
        font-size: 14px;
    }

    .checkInBtn {
        grid-area: topBtn;
        width: 100.4%;
        height: 101.5%;
        position: relative;
        right: 5px;
        bottom: 6px;
        border: 1px solid rgb(197, 197, 197);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .guests {
        grid-area: bottomBtn;
        width: 100.5%;
        height: 101.5%;
        position: relative;
        z-index: 1;
        right: 6px;
        bottom: 5.7px;
        border: 1px solid lightgray;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .guests:focus {
        border: 2px solid black;
        border-radius: 10px;
    }

    .guestsModal {
        width: 100%;
        height: auto;
        border: 1px solid lightgray;
        border-radius: 10px;
        position: relative;
        z-index: 6;
        margin-top: 33px;
        background-color: white;
    }

    .capacityLabel {
        margin-bottom: 24px !important;
        margin-top: 24px !important;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .first {
        margin-bottom: 24px !important;
        margin-top: 8px !important;
    }

    .chosingGuests {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100px;
    }

    .chosingGuestsBtn {
        border-radius: 50%;
        border: 1px solid lightgray;
    }

    .chosingGuestsBtn:hover {
        border: 1px solid black;

    }

    .descriptionGuests {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .reservBtn {
        --mouse-x: 50;
        --mouse-y: 50;
        min-width: 320px;
        height: 46px;
        position: relative;
        right: 7px;
        top: 31px;
        background-size: 200% 200%;
        background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
        // background-image: radial-gradient(circle, rgb(143, 82, 28) 0%, rgba(255, 49, 91, 1) 100%);
        background-color: #de1361;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 7px;
        font-size: 16px;
        font-family: 'Raleway', sans-serif;

    }

    .wontharged {
        position: relative;
        top: 45px;
        right: 5px;
        text-align: center;
        font-size: 14px;
        font-family: 'Circular';
        font-weight: 400;
    }

    .sum{
        position: relative;
        top: 68px;
        right: 1px;
        border-bottom: 1px solid lightgray;
        height: 82px;

    }

    .billingCalc {
        position: relative;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-family: 'apple-system';
    }

    .extraInfo {
        height: 100%;
    }

    .price {
        position: relative;
        font-size: 22px;
        line-height: 26px;
        // font-weight: 600;
        right: 3px;
        bottom: 3px;
        width: auto;                
    }

    .currency {
        font-size: 25px;
        right: 5px;
    }

    // .cost{
    //     display: flex;
    //     align-items: flex-end;
    //     background-color: aqua;
    // }

    .night {
        color: rgb(34, 34, 34);
        font-size: 16px;
        font-weight: 100;
        font-family: apple-system;
    }

    .rate{
        font-size: 14px;
    }

    .total{
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 93px;
        right: 1px;
    }
}