.detailes {
    height: 100%;
    width: 100.3%;
    height: 3009.19px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;


    grid-template-areas:

        " detailsLeft detailsRight ";
}
.detailesTitle{
    background-color: aquamarine;
    height: 80px;
    width: 120%;
    position: relative;
    top: 40px;
    right: 8px;
}
.detailesHr{
    position: relative;
    width: 100%;
    top: 35px;
    
}