.rightGalery{
    grid-area: rightGalery;
    display: grid;
    height: 100%;
    position: relative;
    right: 13px;
    margin-left: 25px;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 50% 50%;
    gap: 4px;
    float: left;

    grid-template-areas:
    
    " tl tr"
    " bl br";
}

.top-left{
    grid-area: tl;
    height: 97%;
    width: 273px;

}
.top-right{
    grid-area: tr;
    height: 97%;
    width: 273px;
    border-top-right-radius: 15px;
}
.bottom-left{
    grid-area: bl;
    height: 97%;
    width: 273px;

}
.bottom-right{
    grid-area: br;
    height: 97%;
    width: 273px;
    border-bottom-right-radius: 15px;

}