.galeryRight{
    grid-area: galery-right;
    display: grid;
    position: relative;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 142px 142px;

    grid-template-areas:
    
    " tl tr "
    " bl br";
}

.top-left{
    grid-area: tl;
    margin-right: 7px;
    height: 100%;
}

.top-right{
    grid-area: tr;
    margin-left: 7px;
    border-top-right-radius: 15px;
    height: 100%;

}
.bottom-left{
    margin-top: 7px;
    grid-area: bl;
    height: 100%;

}
.bottom-right{
    margin-top: 7px;
    grid-area: br;
    margin-left: 7px;
    border-bottom-right-radius: 15px;
    height: 100%;

}

.top-left:hover{
    cursor: pointer;
}
.top-right:hover{
    cursor: pointer;
}
.bottom-left:hover{
    cursor: pointer;
}
.bottom-right:hover{
    cursor: pointer;
}