.galery {
    grid-area: galery;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 5px;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 100%;


    grid-template-areas:

        " leftGalery rightGalery";
}