.leftGalery{
    grid-area: leftGalery;
    background-color: rgb(85, 88, 88);
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
    left: 20px;
    width: 560px;
}

